*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}
.container{
    padding: 60px;
}
.section-1{
    background-color: black;
    color: white;
    padding:30px;
}
.section-1__title{
    font-size: 60px;
}
.section-1__desc{
    font-size: 30px;
    margin-top: 10px;
}
.section-1__contact{
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    margin-top: 10px;
}
.section-2,.section-3,.section-4,.section-5{
    margin-top: 20px;
}
.section-2__desc,.section-3__desc.section-4__desc.section-5__desc{
    margin-top: 10px;
}
.section-3{
    background-color: #6462fd; 
    color: black;
    display: inline-block;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}
.section-4{
    background-color: #fe7517;
    color: black;
    display: inline-block;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}.section-5{
    background-color: black;
    color: white;
    padding: 20px;
}
.section-5__title a{
    color: skyblue;
}
.section-3 li,.section-4 li{
    list-style: none;
}
.Contact-form{
    margin-top: 20px;
}
.Contact-form__input,.Contact-form__textarea,.Contact-form__submit{
    margin-top: 10px;
}
.Contact-form__input{
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}
.Contact-form__textarea{
    padding: 10px;
    border: none;
    border: solid black 1px;

}
.Contact-form__submit{
    background-color: orangered;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

}